@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #f2f2f2;
}

.container {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  background: linear-gradient(90deg, red 0, blue 100%);
  display: grid;
  place-content: center;
}

main {
  position: relative;
  width: 25rem;
  height: 15rem;
  padding: 1.75rem 1.5rem;
  border-radius: 1rem;
  z-index: 1000;
  box-shadow: 0 0.1rem 0.5rem 0.01rem rgba(33, 33, 33, 0.388235);
  display: flex;
  align-items: center;
  gap: .25rem;
  flex-direction: column;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

.button {
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: #f2f2f2;
  font-weight: 500;
  font-size: .85rem;
  cursor: pointer;
  border: none;
}

.button#increase-amount-button {
  background: linear-gradient(90deg, #0d8828 50%, #21c244 100%);
}

.button#reset-amount-button {
  background: linear-gradient(45deg, #911300 50%, #df1e00 100%);
}